@page {
    size: A4;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    font-size: 14px;
}

.mock-data {
    background-color: rgb(240, 0, 0);
}

.page {
    width: 210mm;
    height: 297mm;
    padding: 7mm;
    box-sizing: border-box;
    page-break-after: always;
    position: relative;
}

.page:last-child {
    page-break-after: auto;
}

.page-border-container {
    background-color: #23323e;
    height: 277mm;
    width: 100%;
    padding: 2.5mm;
    position: relative;
}

.toimenpide-ehdotukset h1 {
    background-color: white;
    color: #23323e;
    height: auto;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
}

.toimenpide-ehdotukset h2 {
    background-color: #23323e;
    color: white;
    padding: 2px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.toimenpide-ehdotukset h3 {
    background-color: white;
    color: #23323e;
    height: auto;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}


.toimenpide-ehdotukset dl {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

.toimenpide-ehdotukset dl div {
    display: table-row;
    border-left: none;

}

.toimenpide-ehdotukset dt,
.toimenpide-ehdotukset dd {
    display: table-cell;
    padding: 3px 5px 3px 5px;
    border-bottom: 1px solid #bdc6cc;
}

.toimenpide-ehdotukset dt {
    font-weight: bold;
    background-color: #23323e;
    color: white;
    text-align: center;
}

.toimenpide-ehdotukset dd {
    width: 100%;
}

.toimenpide-ehdotukset table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.toimenpide-ehdotukset table th {
    padding: 1px;
    text-align: center;
    white-space: pre-wrap;
}

.toimenpide-ehdotukset table th.header-text {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.toimenpide-ehdotukset table th.header-unit {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.toimenpide-ehdotukset table th.empty {
    border: none;
    background-color: white;
}

.toimenpide-ehdotukset table td {
    border: 1px solid #bdc6cc;
    border-right: none;
    text-align: center;
}

.toimenpide-ehdotukset table td:first-child {
    background-color: #23323e;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 15px;
    padding: 3px 5px 3px 3px;
    border-bottom: 1px solid #bdc6cc;
}

.toimenpide-ehdotukset .label {
    font-weight: bold;
    color: #23323e;
    text-align: left;
    white-space: nowrap;
    margin: 5px 5px 5px 0px;
}

.toimenpide-ehdotukset .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-section {
    background-color: white;
    padding: 2mm 3mm;
    margin-bottom: 2.5mm;
}

.page-footer {
    position: absolute;
    bottom: 7mm;
    left: 0;
    right: 0;
    font-size: 10pt;
    color: #666;
    text-align: center;
    font-family: roboto, sans-serif;
}

.page-header {
    height: 80px;
    width: 100%;
    padding: 5px 10mm;
    margin: 0;
    color: white;
    font-family: roboto, sans-serif;
    text-align: center;
}

.page-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 8px 0;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

.page-subtitle {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    font-family: roboto, sans-serif;
}

h1 {
    font-size: 24pt;
    margin-bottom: 20px;
}

h2 {
    font-size: 13pt;
    color: #23323e;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0mm;
    margin-bottom: 2mm;
}

h3 {
    background-color: #23323e;
    color: white;
    padding: 3px 8px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.01em;
    margin: 0 0 5px 0;
    font-family: roboto, sans-serif;
}

dt {
    font-weight: bold;
    color: #23323e;
}

strong {
    font-weight: bold;
    color: #23323e;
}

dl {
    margin-top: 0;
    margin-bottom: 2mm;
}

dl.table-description-list {
    display: table;
    width: 100%;
}

dl.table-description-list div {
    display: table-row;
}

dl.table-description-list div.nontabular-row {
    display: inline;
}

dl.table-description-list dt,
dl.table-description-list dd {
    display: table-cell;
}

table.common-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table.common-table thead > tr > th {
    font-weight: bold;
    color: #23323e;
    text-align: center;
    vertical-align: bottom;
}

table.common-table tbody th {
    border: 0.7px solid #ced4dd;
    border-left: none;
    text-align: left;
    font-weight: normal;
    color: #2a3b49;
}

table.common-table td {
    border: 0.7px solid #ced4dd;
    text-align: center;
}

table.common-table td:last-child {
    border-right: none;
}

.id-string {
    display: none;
}

.etusivu-yleistiedot {
    height: 52mm;
}

.etusivu-yleistiedot dl {
    display: table;
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin: 0px 5px 5px 0px;
}

.etusivu-yleistiedot dl div {
    display: table-row;
}

.etusivu-yleistiedot dl dt,
.etusivu-yleistiedot dl dd {
    display: table-cell;
    padding: 2px;
}

.etusivu-yleistiedot dl dt {
    color: #23323e;
    font-weight: bold;
    white-space: nowrap;
    width: 45%;
    padding-right: 30px;
}

.etusivu-yleistiedot dl dd {
    background-color: white;
}

.etusivu-yleistiedot dl div:last-child dd {
    font-weight: bold;
    color: #23323e;
    white-space: nowrap;
}

.etusivu-grafiikka-eluku-section {
    height: 123.5mm;
}

.etusivu-ostoenergia-section {
    height: 54mm;
}

.etusivu-ostoenergia table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin: 5px 5px;
    table-layout: fixed;
}

.etusivu-ostoenergia th,
.etusivu-ostoenergia td {
    border: 1px solid #bdc6cc;
    padding: 1px 1px;
    font-weight: normal;
    text-align: center;
    color: #23323e;
}

.etusivu-ostoenergia th:first-child,
.etusivu-ostoenergia td:first-child {
    border-left: none;
    border-right: none;
    font-weight: bold;
    text-align: left;
    width: 25%;
}

.etusivu-ostoenergia th.oe-otsikko {
    font-weight: bold;
}

.etusivu-ostoenergia th:nth-child(2),
.etusivu-ostoenergia td:nth-child(2) {
    border-left: none;
    width: 15%;
}

.etusivu-ostoenergia th:last-child,
.etusivu-ostoenergia td:last-child {
    border-right: none;
    width: 70px;
}

.etusivu-ostoenergia th:nth-child(3),
.etusivu-ostoenergia td:nth-child(3),
.etusivu-ostoenergia th:nth-child(4),
.etusivu-ostoenergia td:nth-child(4),
.etusivu-ostoenergia th:nth-child(5),
.etusivu-ostoenergia td:nth-child(5),
.etusivu-ostoenergia th:nth-child(6),
.etusivu-ostoenergia td:nth-child(6) {
    width: 70px;
}

.etusivu-ostoenergia th.empty,
.etusivu-ostoenergia th.oe-otsikko {
    border: none;
    background: none;
}

.etusivu-ostoenergia dl {
    display: table;
    width: 98%;
    background-color: white;
    border-collapse: collapse;
    margin: 5px 5px;
}

.etusivu-ostoenergia dl div {
    display: table-row;
}

.etusivu-ostoenergia dl dt,
.etusivu-ostoenergia dl dd {
    display: table-cell;
    padding: 0px 0px 3px 0px;
}

.etusivu-ostoenergia dl dt {
    color: #23323e;
    font-weight: bold;
    white-space: nowrap;
    width: 1px;
}

.etusivu-eluku {
    padding: 15px 0px 0px 0px;
}

.etusivu-eluku .label {
    font-weight: bold;
    color: #23323e;
    text-align: left;
    white-space: nowrap;
    padding: 0px 3px 0px 0px;
}

.etusivu-grafiikka-otsikko {
    font-weight: bold;
    padding: 5px 5px 5px 0px;
}

.koontisivu #koontisivu-yleiset-tiedot {
    height: 142.5mm;
}

.koontisivu #koontisivu-suuruudet {
    margin-bottom: 2mm;
}

.koontisivu #koontisivu-suuruudet dl, dt, dd {
    display: inline;
    text-align: left;
}

.koontisivu #koontisivu-suuruudet dt {
    /* width: 40mm; */
}

.koontisivu #koontisivu-suuruudet dd {
    width: 40mm;
    margin-right: 10mm;
}

.koontisivu #koontisivu-suuruudet div {
    margin-top: 3mm;
}

.koontisivu #koontisivu-lammonjakojarjestelma {
    width: 164mm;
}

.koontisivu #toteutunut-energia-info {
    margin-top: 2mm;
    padding: 1mm;
    background-color: #f3f4f7;
}

.koontisivu #toteutunut-energia-info p {
    margin: 0;
}
.koontisivu #koontisivu-keskeiset-toimenpiteet-section {
    height: 90mm;
}

.koontisivu #koontisivu-keskeiset-toimenpiteet {
    height: 52mm;
}

.koontisivu #koontisivu-havaintokaynti-tyokalu {
    height: 16mm;
}

.koontisivu #koontisivu-laatijan-tiedot {
    height: 16mm;
}

/* =====================================================
   Lähtötiedot page styles
   ===================================================== */

.lahtotiedot-page {
    padding: 0;
}

.lahtotiedot-page-section {
    height: 270mm;
    overflow: hidden;
}

.lahtotiedot-content {
    font-size: 14px;
    line-height: 1.4;
    color: #23323e;
    font-family: roboto, sans-serif;
}

.lahtotiedot-section {
    margin: 8px 0 10px;
}

.lahtotiedot-row {
    padding: 4px 0;
}

.lahtotiedot-label {
    display: inline;
    font-weight: bold;
    color: #23323e;
    margin-right: 6px;
    font-size: 14px;
}

.lahtotiedot-value {
    display: inline;
    font-weight: bold;
    color: #23323e;
}

.lahtotiedot-unit {
    display: inline;
    color: #23323e;
    margin-left: 4px;
    white-space: nowrap;
}

.lahtotiedot-two-col {
    display: block;
}

.lahtotiedot-two-col .lahtotiedot-row {
    padding: 3px 2px;
}

.lahtotiedot-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 4px;
    font-size: 14px;
    table-layout: fixed;
}

.lahtotiedot-table-margin {
    margin-top: 8px;
}

.lahtotiedot-table th,
.lahtotiedot-table td {
    padding: 4px 6px;
    vertical-align: middle;
    text-align: center;
}

.lahtotiedot-table th {
    color: #23323e;
    border: none;
}

.lahtotiedot-table td {
    color: #23323e;
    border: 1px solid #cfd6de;
}

.lahtotiedot-table th:first-child,
.lahtotiedot-table td:first-child {
    width: 33.33%;
    text-align: left;
    color: #23323e;
}

.lahtotiedot-table thead th {
    border-bottom: 1px solid #cfd6de;
}

.lahtotiedot-th {
    font-weight: bold;
    color: #23323e;
    font-size: 13px;
    text-align: center;
}

.lahtotiedot-th-sub {
    font-weight: 600;
    color: #23323e;
    font-size: 12px;
}

.lahtotiedot-table .num {
    text-align: center;
    white-space: nowrap;
}

.lahtotiedot-table strong {
    font-weight: bold;
}

.lisamerkintoja h1 {
    background-color: white;
    color: #23323e;
    height: auto;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
}

.lisamerkintoja h2 {
    background-color: #23323e;
    color: white;
    padding: 2px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lisamerkintoja-separator {
    background-color: #23323e;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.lisamerkintoja dl {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.lisamerkintoja dl div {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.lisamerkintoja dl dt {
    display: inline;
    margin: 0;
    padding: 0;
}

.lisamerkintoja dl dd {
    display: inline;
    margin: 0;
    padding: 5px;
}

/* =====================================================
   Tulokset (E-luvun laskennan tulokset) page styles
   ===================================================== */

.tulokset-page {
    padding: 0;
    page-break-inside: avoid;
}

.tulokset-page-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 0 0 2px 0;
    color: #23323e;
    text-transform: uppercase;
}

.tulokset-eluku-row {
    display: block;
    margin: 0 0 2px;
}

.tulokset-eluku-banner {
    background-color: #2f3a46;
    color: white;
    padding: 2px 8px;
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.tulokset-eluku-value {
    padding: 0 6px;
    display: inline;
}

.tulokset-content {
    font-size: 14px;
    line-height: 1.2;
    color: #23323e;
    font-family: roboto, sans-serif;
}

.tulokset-section {
    margin: 2px 0 3px;
}

.tulokset-section-bar {
    background-color: #2f3a46;
    color: white;
    padding: 2px 8px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.01em;
    margin: 0;
}

.tulokset-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
    font-size: 14px;
    page-break-inside: avoid;
}

.tulokset-table th,
.tulokset-table td {
    padding: 2px 4px;
    vertical-align: middle;
    text-align: center;
    line-height: 1.15;
}

.tulokset-table th {
    color: #23323e;
    border: none;
}

.tulokset-table td {
    color: #23323e;
    border: 1px solid #cfd6de;
}

.tulokset-table th:first-child,
.tulokset-table td:first-child {
    text-align: left;
    color: #23323e;
}

.tulokset-table thead th {
    border-bottom: none;
    padding-bottom: 1px;
    padding-top: 1px;
}

.tulokset-th {
    font-weight: bold;
    color: #23323e;
    font-size: 13px;
    text-align: center;
    white-space: pre-wrap;
}

.tulokset-th-sub {
    font-weight: 600;
    color: #23323e;
    font-size: 12px;
}

.tulokset-table .num {
    text-align: center;
    white-space: nowrap;
}

.tulokset-table strong {
    font-weight: bold;
}

.tulokset-label {
    font-weight: bold;
    white-space: nowrap;
}

.tulokset-subgroup {
    font-weight: bold;
    color: #111;
    background-color: white;
}

.tulokset-indent {
    padding-left: 18px;
    font-weight: bold;
}

