@page {
    size: A4;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    font-size: 11pt;
}

.page {
    width: 210mm;
    height: 297mm;
    padding: 7mm;
    box-sizing: border-box;
    page-break-after: always;
    position: relative;
}

.page:last-child {
    page-break-after: auto;
}

.page-border-container {
    background-color: #23323e;
    height: 277mm;
    width: 100%;
    padding: 2.5mm;
    position: relative;
}

.page-section {
    background-color: white;
    padding: 2mm 3mm;
    margin-bottom: 2.5mm;
}

.page-footer {
    position: absolute;
    bottom: 7mm;
    left: 0;
    right: 0;
    font-size: 10pt;
    color: #666;
    text-align: center;
    font-family: roboto, sans-serif;
}

.page-header {
    background-color: #23323e;
    height: 80px;
    width: 100%;
    padding: 5px 10mm;
    margin: 0;
    color: white;
    font-family: roboto, sans-serif;
    text-align: center;
}

.page-title {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 8px 0;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
}

.page-subtitle {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    font-family: roboto, sans-serif;
}

h1 {
    font-size: 24pt;
    margin-bottom: 20px;
}

.id-string {
    display: none;
}

.etusivu-yleistiedot {
    font-size: 14px;
    height: 52mm;
}

.etusivu-yleistiedot dl {
    display: table;
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin: 0px 5px 5px 0px;
}

.etusivu-yleistiedot dl div {
    display: table-row;
}

.etusivu-yleistiedot dl dt,
.etusivu-yleistiedot dl dd {
    display: table-cell;
    padding: 2px;
}

.etusivu-yleistiedot dl dt {
    color: #23323e;
    font-weight: bold;
    white-space: nowrap;
    width: 45%;
    padding-right: 30px;
}

.etusivu-yleistiedot dl dd {
    background-color: white;
}

.etusivu-yleistiedot dl div:last-child dd {
    font-weight: bold;
    color: #23323e;
    white-space: nowrap;
}

.etusivu-grafiikka-eluku-section {
    height: 123.5mm;
}

.etusivu-ostoenergia-section {
    height: 54mm;
}

.etusivu-ostoenergia table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin: 5px 5px;
    table-layout: fixed;
}

.etusivu-ostoenergia th,
.etusivu-ostoenergia td {
    border: 1px solid #bdc6cc;
    padding: 1px 1px;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #23323e;
}

.etusivu-ostoenergia th:first-child,
.etusivu-ostoenergia td:first-child {
    border-left: none;
    border-right: none;
    font-weight: bold;
    text-align: left;
    width: 25%;
}

.etusivu-ostoenergia th.oe-otsikko {
    font-weight: bold;
}

.etusivu-ostoenergia th:nth-child(2),
.etusivu-ostoenergia td:nth-child(2) {
    border-left: none;
    width: 15%;
}

.etusivu-ostoenergia th:last-child,
.etusivu-ostoenergia td:last-child {
    border-right: none;
    width: 70px;
}

.etusivu-ostoenergia th:nth-child(3),
.etusivu-ostoenergia td:nth-child(3),
.etusivu-ostoenergia th:nth-child(4),
.etusivu-ostoenergia td:nth-child(4),
.etusivu-ostoenergia th:nth-child(5),
.etusivu-ostoenergia td:nth-child(5),
.etusivu-ostoenergia th:nth-child(6),
.etusivu-ostoenergia td:nth-child(6) {
    width: 70px;
}

.etusivu-ostoenergia th.empty,
.etusivu-ostoenergia th.oe-otsikko {
    border: none;
    background: none;
}

.etusivu-ostoenergia dl {
    display: table;
    width: 98%;
    background-color: white;
    border-collapse: collapse;
    margin: 5px 5px;
    font-size: 14px;
}

.etusivu-ostoenergia dl div {
    display: table-row;
}

.etusivu-ostoenergia dl dt,
.etusivu-ostoenergia dl dd {
    display: table-cell;
    padding: 0px 0px 3px 0px;
}

.etusivu-ostoenergia dl dt {
    color: #23323e;
    font-weight: bold;
    white-space: nowrap;
    width: 1px;
}

.etusivu-eluku {
    font-size: 14px;
    padding: 15px 0px 0px 0px;
}

.etusivu-eluku .label {
    font-weight: bold;
    color: #23323e;
    text-align: left;
    white-space: nowrap;
    padding: 0px 3px 0px 0px;
}

.etusivu-grafiikka-otsikko {
   font-weight: bold;
   padding: 5px 5px 5px 0px;
}
