@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

@tailwind components;
@tailwind utilities;

@import url('//cdn.quilljs.com/1.3.6/quill.snow.css');

@layer components {
  .et-table {
    @apply w-full table-fixed border-b-1 border-disabled pb-8;
  }
  .et-table__noborder {
    @apply border-b-0;
  }
  .et-table--th {
    @apply px-4 py-5 font-bold;
    @apply w-1/5 text-sm text-primary;
    height: 4em;
  }
  .et-table--td {
    @apply px-4 py-3 font-bold;
  }
  .et-table--td .inputwrapper {
    @apply m-0;
  }
  .et-table--th-left-aligned {
    @apply text-left;
  }
  .et-table--th-right-aligned {
    @apply text-right;
  }
  .et-table--with-left-border {
    @apply border-l-1 border-tableborder;
  }
  .et-table--no-left-border {
    @apply border-l-0;
  }
  .et-table--tr
    > .et-table--th:not(:first-child):not(.et-table--no-left-border),
  .et-table--tr
    > .et-table--td:not(:first-child):not(.et-table--no-left-border) {
    @apply border-l-1 border-tableborder;
  }
  .et-table--thead {
    @apply bg-tertiary;
  }
  .et-table--th__sixth {
    @apply w-1/6;
  }
  .et-table--th__4-6 {
    @apply w-4/6;
  }
  .et-table--th__fourcells {
    @apply w-4/5;
  }
  .et-table--th__threecells {
    @apply w-3/5;
  }
  .et-table--th__twocells {
    @apply w-2/5;
  }
  .et-table--td__fifth {
    @apply w-1/5;
  }
  .et-table--tr:last-child {
    @apply mb-5;
  }

  .et-table--tr > .et-table--td:first-child {
    @apply font-bold;
  }

  .et-table--tr > .et-table--td:not(:first-child) {
    @apply text-right;
  }

  .ppp-description-list {
    @apply grid grid-cols-[max-content_1fr];
  }

  .ppp-description-list > dt,
  .ppp-description-list > dd {
    @apply border-b px-4 py-3;
  }

  .ppp-description-list > dt::after {
    content: ':';
  }

  .ppp-description-list > dd {
    @apply font-bold;
  }
}
