# Ignore all files, and then whitelist only required
*

!package.json
!package-lock.json

!src/
!assets/
!.storybook/
!__snapshots__/

!babel.config.cjs
!fill-sv-localization.js
!init-mocha.js
!jsconfig.json
!modheaders.json
!postcss.config.cjs
!svelte.config.cjs
!tailwind.config.js
!webpack.config.cjs

!run-visual-tests.sh