/node_modules/
/public/
/.vscode/
/.nyc_output/
/coverage/
/jsdoc/out/
/storybook-static/
.DS_Store

# IntelliJ IDEA
*.iml
.idea
.nrepl-port

# Emacs
.projectile

/test_report.xml
/__snapshots__/__diff_output__