@tailwind base;

  @font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(../public/fonts/Montserrat-Regular.ttf) format("truetype");
  }


@tailwind component;
@tailwind utilities;

.font-body ~ * {
  @apply font-body;
};