/node_modules/
/public/
/.vscode/
/.nyc_output/
/coverage/
/jsdoc/out/
/storybook-static/
.DS_Store

# IntelliJ IDEA
*.iml
.idea
.nrepl-port

# Emacs
.projectile

# Cypress results
/cypress/screenshots
/cypress/videos
